@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
    
    scroll-behavior: smooth;
    /* font-family: "Poppins", sans-serif; */
}
*{
    padding: 0;
    margin: 0;
    border: border-box;
}

/* first header */
header{
    height: 7vw;
    background-color: white;
    border-bottom: 0.15vw solid #bfbfbf;
}
.first-header{
    height: 3.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-header h1{
    font-size: 2.5vw;
    color: #ff4704;
    font-family:'Poppins',sans-serif;
    font-weight: 700;
}

.search-bar{
    height: 50px;
    width: 50vw;
    display: flex;
    position: relative;
    left: 9vw;
    border: none;
    align-items: center;
}
.input-class{
    border-right: none;
    border-top: 0.1vw solid black;
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    width: 90%;
    height: 2.5vw;
    /* border: none; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.2vw;
    padding-left: 1.4vw;
}
.icon-btn{
    /* border-right: 0.1vw solid black; */
    background-color: white;
    border: none;
    font-size: 1.4vw;
    height: 2.5vw;
    width: 2.8vw;
    border-radius: 20px;
}

.login-btn{
    
    border: none;
    height: 2vw;
    width: 6.5vw;
    background-color: #ff4704;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 8vw;
    font-size: 0.9vw;
}
.search-iconn{
    border-right: 0.1vw solid black;
    border-top: 0.1vw solid black; 
    border-bottom: 0.1vw solid black;
    height: 2.5vw;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 20px;
}


/* second header */

.second-header{
    height: 40px;
    align-items: center;
    margin-top: 1vw;
}
.second-header li{
    display: flex;
    margin-left: 11vw;
}
.second-header li a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    margin-left: 6vw;
    font-size: 1vw;
}
.second-header li a::after{
    color: #ff4704;
    content: "";
    position: absolute;
    background-color: #ff4704;
    height: 0.2vw;
    width: 0;
    left: 0;
    bottom: -0.3vw;
    transition: 0.3s;
}
.second-header li a:hover::after{
    width: 100%;
}
#active{
    color: #ff4704;
}

.ingredient {
    padding-left: 140px;
    padding-top: 50px;
}

.ingredient .ingredient-A-Z{
    font-size: 45px;
    font-weight: bold;
}

.ingredient_search {
    font-size: 20px;
    padding: 4px;
    height: 90p;
    width: 300px;

}



.topic{
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 140px;
}

.alphabet{
    margin-top: 20px;
    font-size: 15px;
    text-decoration: none;
   
}
.alphabet a{
    font-weight: lighter;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 20px;
}

.alphabet a:hover{
    color: white;
    border: 1px solid #ff4704;
    background-color: #ff4704;

}

.A_letter{
    padding-left: 140px;
}

.A_letter .A{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.B_letter{
    padding-left: 140px;
}

.B_letter .B{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.C_letter{
    padding-left: 140px;
}

.C_letter .C{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.D_letter{
    padding-left: 140px;
}

.D_letter .D{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.D_letter{
    padding-left: 140px;
}

.E_letter .E{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.E_letter{
    padding-left: 140px;
}

.E_letter .E{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.F_letter{
    padding-left: 140px;
}

.F_letter .F{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.G_letter{
    padding-left: 140px;
}

.G_letter .G{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.H_letter{
    padding-left: 140px;
}

.H_letter .H{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.I_letter{
    padding-left: 140px;
}

.I_letter .I{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.J_letter{
    padding-left: 140px;
}

.J_letter .J{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.K_letter{
    padding-left: 140px;
}

.K_letter .K{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.L_letter{
    padding-left: 140px;
}

.L_letter .L{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.M_letter{
    padding-left: 140px;
}

.M_letter .M{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.N_letter{
    padding-left: 140px;
}

.N_letter .N{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}
.O_letter{
    padding-left: 140px;
}

.O_letter .O{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;

    background-color: black;
    padding-left: 20px;
    padding-top: 14px;
}

