@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: border-box;
}

/* first header */
header{
    height: 120px;
    background-color: #bfbfbf;
}
.first-header{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-header h1{
    position: absolute;
    left: 50px;
    font-size: 40px;
    color: #ff4704;
    font-family:'Poppins',sans-serif;
    font-weight: 700;
}

.search-bar{
    height: 50px;
    width: 700px;
    /* background-color: black; */
    display: flex;
    position: relative;
    left: 200px;
    border: none;
    
}
.input-class{
    width: 90%;
    height: 50px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 16px;
    padding-left: 20px;
}
.icon-btn{
    background-color: white;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 50px;
}
.login-btn{
    width: 50px;
    border: none;
    height: 40px;
    width: 90px;
    background-color: #ff4704;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 40px;
}
.search-iconn{
    height: 50px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 20px;
}

/* second header */
.second-header{
    height: 40px;
    align-items: center;
    
}
.second-header li{
    
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 135px;
}
.second-header li a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    margin-left: 80px;
    /* padding-left: 45px; */
}
.second-header li a::after{
    color: #ff4704;
    content: "";
    position: absolute;
    background-color: #ff4704;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.second-header li a:hover::after{
    width: 100%;
}
#active{
    color: #ff4704;
}

